/*������*/
.imgauto{
  img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
}
.ft7{
  font-size: 0.7rem;
}
/*====================��� index===========================*/
strong{
  font-weight: normal;
}
@rem:40rem;
section{
  .remaining_sum{
    height: 360/@rem;
    text-align: center;
    position: relative;
    img{
      max-width:100%;
      height: auto;
      margin:0 auto;
    }
    div{
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      margin-top:1rem;
      color:#ffffff;
      span{
        font-size: 72/@rem;
      }
      a{
        display: block;
        color:#ffffff;
        line-height: 34/@rem;
        font-size: 24/@rem;
        em{
          display: inline-block;
          width: 1rem;
          height: 34/@rem;
          vertical-align: bottom;
          background: url(/images/my_money_ico.png) no-repeat -10/@rem -75/@rem;
          background-size: 750/@rem;
        }
      }
    }
  }
  .rechargeCash{
    border-bottom: #dddddd solid 1px;
    a:first-child{
      border-right: #dddddd solid 1px;
    }
    a{
      display: block;
      width: 50%;
      height: 100/@rem;
      line-height: 100/@rem;
      float: left;
      text-align: center;
      color:#333333;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
    }
  }
  .bankCard_title{
    height: 100/@rem;
    line-height: 100/@rem;
    padding-left: 130/@rem;
    background: url("/images/my_money_ico.png") no-repeat -10/@rem -10/@rem;
    background-size:18.75rem;
    background-position: 30/@rem 12/@rem;
    border-top: #dddddd solid 1px;
    border-bottom: #dddddd solid 1px;
    margin-top: 30/@rem;
  }
}
/*====================���п� bankCard.html===========================*/
.add_card{
  background: url(/images/my_money_ico.png) no-repeat -3/@rem -111/@rem;
  background-size: 18.75rem;
  display: block;
  width: 1rem;
  height: 1rem;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}
.add_card_active{
  position: static;
  margin:0 auto;
}
.bank_cards{
  padding: 1rem 30/@rem;
  div{
    position: relative;
    margin-bottom: 20px;
    ul{
      color: #ffffff;
      position: absolute;
      top: 146/@rem;
      left: 164/@rem;
      li{
        float: left;
        margin-right: 27/@rem;
        font-size: 1rem;
      }
    }
  }
  img{
    display: block;
    max-width: 100%;
    height: auto;
  }
}
/*====================������п� addCard.html===========================*/

.Add_Card_title{
  height: 59/@rem;
  line-height: 60/@rem;
  padding-left: 30/@rem;
  color:#8e8e8e;
  font-size: 24/@rem;
  border-bottom:#dcdcdc solid 1px;

}
.card_binding{
  li{
    padding: 0 34/@rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-bottom:#dcdcdc solid 1px;
    background: #ffffff;
    position: relative;
  }
  label{
    width: 25%;
    display: inline-block;
  }
  input{
    background: none;
    width: 70%;
    color:#686868;
    font-size: 0.8rem;
    line-height: 1rem;
  }
  select{
    width: 6rem;
    height: 2rem;
    opacity: 0;
    position: absolute;
    top:0;
    right:1rem;
    color:#2587f6;
    font-size: 0.8rem;
  }
}
.bind_next{
  display: block;
  margin:0 auto;
  width:92%;
  font-size: 36/@rem;
  padding: 26/@rem 0;
  text-align: center;
  color:#8e8e8e;
  border-radius:7px;
  background:#dddddd;
  margin-top: 2rem;
}
/*====================���� IntegralMall.html===========================*/
section .remaining_sum div a .rank_icon {
  background: url(/images/my_money_ico.png) no-repeat -56/@rem -75/@rem;
  background-size: 750/@rem;
}
section {
  .Integral_title{
    margin-bottom: 0.5rem;
    a{
      width: 100%;
      border-right: none;
    }
  }
}
.monthly_bill{
  height: 58/@rem;
  line-height: 58/@rem;
  background: #dddddd;
  padding-left: 2rem;
  font-size: 24/@rem;
  margin-bottom: 1px;
  padding-left:30/@rem;
  p{
    width: 104/@rem;
    text-align: center;
  }
}
.billing_details{
  li{
    font-size: 24/@rem;
    padding: 0.5rem 0 0.5rem 30/@rem;
    border-top:#dddddd solid 1px;
    background: #ffffff;
    overflow: hidden;
  }
  li:last-child{
    border-bottom:#dddddd solid 1px;
  }
  div{
    float: left;
    text-align: center;
    line-height: 36/@rem;
    span{
      color:#8e8e8e;
    }
  }
  strong{
    font-size:28/@rem;
    font-weight: normal;
  }
  div:first-child{
    width: 104/@rem;
  }
  div:nth-child(2){
    line-height: 72/@rem;
    width: 222/@rem;
  }
  div:last-child{
    text-align: left;
    span{
      font-size: 0.6rem;
    }
  }
}
/*====================�ȼ�˵�� rankExplain.html===========================*/
.rankExplain{
  padding: 30/@rem 30/@rem 0;
}
.rankExplain_title{
  color:#2587f6;
  overflow: hidden;
  h2{
    font-size: 36/@rem;
    font-weight: bold;
    strong{
      font-weight: bold;
    }
  }
  p{
    font-size: 28/@rem;
    margin: 38/@rem 0;
  }
}
.rankExplain_body{
  width: 100%;
  border:#000000 solid 2px;
  text-align: center;
  thead td{
    height: 98/@rem;
  }
  td{
    height: 88/@rem;
    border:#000000 solid 1px;
  }
}
/*====================�Ż�ȯ coupon.html===========================*/
.coupon_genre{
  background: #ffffff;
  padding: 0 8%;
  margin-bottom: 0.5rem;
  border-bottom:#c9c9c9 solid 1px;
  li{
    width: 28%;
    text-align: center;
    border-bottom:#ffffff solid 4px;
    float: left;
    font-size: 28/@rem;
    height: 76/@rem;
    line-height: 2rem;
    margin-right: 8%;
  }
  li:last-child{
    margin-right: 0;
  }
  li.current{
    color:#3c8bec;
    border-bottom:#3c8bec solid 4px;
  }
}
.coupon{
  padding: 30/@rem 50/@rem 16/@rem 55/@rem;
  color:#ffffff;
  background: #3ea5fe url("/images/arabesquitic.png") no-repeat 0 1.5rem;
  background-size: 18.75rem;
  font-size: 30/@rem;
  margin-bottom: 0.5rem;
  a{
    color:#ffffff;
  }
  p{
    margin-top:2rem;
    font-size: 24/@rem;
    strong{
      font-weight: normal;
      font-size: 72/@rem;
    }
  }
}
.coupon_notused{
  background: #dddddd url("/images/arabesquitic1.png") no-repeat 0 1.5rem;
  background-size: 18.75rem;
  color:#8e8e8e;
  a{
    color:#8e8e8e;
    em{
      color:#fbfbfb;
    }
  }
  p{
    color:#a4a4a4;
    strong{
      color:#8e8e8e;
    }
  }
}
/*====================�������� walkingNumber.html===========================*/
.ico_specialist{
  background: url(/images/my_money_ico.png) no-repeat -3/@rem -164/@rem;
  background-size: 18.75rem;
  display: block;
  width: 43/@rem;
  height: 53/@rem;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
}
.ico_prescription{
  background: url(/images/my_money_ico.png) no-repeat -56/@rem -164/@rem;
  background-size: 18.75rem;
  display: block;
  width: 43/@rem;
  height: 1.2rem;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}
.healthy{
  padding-bottom: 3rem;
}
.health_tab{
}
.health_calendar{
  font-size:0;
  padding: 22/@rem 0;
  text-align: center;
  background: #333333;
  li{
    display: inline-block;
    width: 84/@rem;
    height: 84/@rem;
    line-height: 84/@rem;
    color:#ffffff;
    background: url("/images/my_money_ico.png") no-repeat -120/@rem -152/@rem;
    background-size: 750/@rem;
    margin: 0 0.25rem;
    font-size: 30/@rem;
  }
  li.current{
    background: url("/images/my_money_ico.png") no-repeat -214/@rem -152/@rem;
    background-size: 750/@rem;
    color:#333333;
  }
}
.step_number{
  position: absolute;
  top: 364/@rem;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  padding: 180/@rem;
  background: url("/images/yuan.png.") no-repeat center center;
  background-size: 444/@rem 450/@rem;
  color:#686868;
  font-size: 36/@rem;
  text-align: center;
  strong{
    color:#ff7c00;
    font-size: 100/@rem;
    font-weight: normal;
  }
  em{
    color:#ff7c00;
  }
}
.declaration {
  margin-top:20rem;
  width: 100%;
  text-align: center;
  color:#8e8e8e;
  font-size: 36/@rem;
  span{
    display: inline-block;
    width: 38/@rem;
    height: 56/@rem;
    background:url("/images/my_money_ico.png") no-repeat -70/@rem -215/@rem;
    background-size: 18.75rem;
  }
}
.declaration_two{
  span{
    background:url("/images/my_money_ico.png") no-repeat -306/@rem -217/@rem;
    background-size: 18.75rem;
  }
}
.athletics_parameters{
  margin-top:1.5rem;
  width: 100%;
  text-align: center;
  color:#8e8e8e;
  font-size: 36/@rem;
  li{
    display: inline-block;
    width: 30%;
    span{
      color:#686868;
      font-size: 72/@rem;
    }
  }
}
/*====================��д������Ϣ completeMedicalInformation.html===========================*/
.completeMedicalInformation{
  padding-bottom: 3rem;
}
.bd_N{
  border-bottom:none !important;
}
.bespoke_notice{
  padding: 1rem 0.85rem 0;
  color:#8e8e8e;
  h3{
    margin-bottom: 35/@rem;
  }
  p{
    font-size: 28/@rem;
    line-height: 30/@rem;
  }
}
.to_pay{
  background:#2587f6;
  color:#ffffff;
}
/*====================��ҩ���� medicationReminder.html===========================*/
.medicant_hint{
  height: 4.5rem;
  position: relative;
  div{
    position: absolute;
  }
  div:first-child{
    width: 564/@rem;
    line-height: 1rem;
    padding: 15/@rem 14/@rem 15/@rem 14/@rem;
    top:1rem;
    left: 30/@rem;
    color:#686868;
    font-size: 30/@rem;
    background: url(/images/my_money_ico.png) no-repeat -184/@rem -273/@rem;
    background-size: 750/@rem;
    z-index: 5;
  }
  div:last-child{
    width: 152/@rem;
    height: 152/@rem;
    top: 20/@rem;
    right: 20/@rem;
    background: url(/images/my_money_ico.png) no-repeat -596/@rem -110/@rem;
    background-size: 750/@rem;
    z-index: 2;
  }
}
.druggery_alarm{
  li{
    background: #ffffff;
    border-bottom:#dedfe0 solid 1px;
    overflow: hidden;
    padding: 0.5rem 30/@rem;
  }
  li:first-child{
    margin-bottom: 1rem;
  }
  span{
    float: left;
    line-height: 62/@rem;
  }
  em,strong{
    float: right;
    width: 102/@rem;
    height: 62/@rem;
    line-height: 62/@rem;
    text-align: right;
  }
  strong{
    background: url(/images/my_money_ico.png) no-repeat -415/@rem -155/@rem;
    background-size: 18.75rem;
  }
  strong.current{
    background: url(/images/my_money_ico.png) no-repeat -304/@rem -155/@rem;
    background-size: 18.75rem;
  }
}
.ico_specialist_active,.ico_prescription_active{
  position: static;
}
/*====================�������� fileManagement.html===========================*/
.fileManagement{
  padding: 3.6rem 30/@rem 0;
}
.file_function{
  margin-bottom: 2rem;
  li{
    float: left;
    width:120/@rem;
    height: 120/@rem;
    font-size: 28/@rem;
    text-align: center;
    margin-right: 50/@rem;
    background: url(/images/my_money_ico.png) no-repeat 0 -401/@rem;
    background-size: 18.75rem;
    span{
      display: inline-block;
      margin-top:3rem;
    }
  }
  li:first-child{
    background: url(/images/my_money_ico.png) no-repeat 0 -278/@rem;
    background-size: 18.75rem;
  }
  li:last-child{
    background: url(/images/my_money_ico.png) no-repeat 0 -523/@rem;
    background-size: 18.75rem;
  }
}
.file_case{
  border-radius: 6px;
  background: #4dbbd4;
  margin-bottom: 0.5rem;
  dt{
    padding: 30/@rem 220/@rem 30/@rem 50/@rem;
    font-size: 36/@rem;
    position: relative;
    span{
      display: inline-block;
      width: 70%;
    }
    em{
      position: absolute;
      top:50%;
      margin-top: -12/@rem;
      right: 40/@rem;
      width: 45/@rem;
      height: 25/@rem;
      background:url(/images/my_money_ico.png) no-repeat -55/@rem -121/@rem;
      background-size: 18.75rem;
      float: right;
    }
  }
  dt.current{
    em{
      background:url(/images/my_money_ico.png) no-repeat -111/@rem -121/@rem;
      background-size: 18.75rem;
    }
  }
  dd{
    padding:26/@rem 0 26/@rem 100/@rem;
    background: #a1d8e4;
    border-bottom: #4dbbd4 solid 1px;
    display: none;
  }
  dd:last-child{
    border-bottom: none;
    border-radius: 0 0 6px 6px;
  }
}
/*====================ʱ���ճ̹��� schedule.html===========================*/
.head_top{
  width: 100%;
  height: 2rem;
  background: #333333;
  padding: 0 1rem;
  color:#ffffff;
  text-align: center;
  font-size: 0.9rem;
  position: fixed;
  span{
    position: absolute;
    top:0;
    right: 1rem;
  }
}
.pt_2rem{
  padding-top: 2rem;
}
.cff6d48{
  color:#ff6d48;
}
.timetable{
  width: 100%;
  margin:0 auto;
  thead{
    td{
      width: 14%;
      height: 73/@rem;
      font-size: 34/@rem;
    }
  }
  td{
    text-align: center;
  }
  tbody{
    td{
      height: 128/@rem;
      line-height: 1rem;
      border:#dedfe0 solid 1px;
      font-size: 48/@rem;
      span{
        font-size: 24/@rem;
        color:#8e8e8e;
      }
    }
    td.active,td.active span{
      color:#ff6d48;
    }
  }
}
.sked{
  padding: 30/@rem;
  p{
    text-align: center;
    font-size: 28/@rem;
    color:#8e8e8e;
  }
  li{
    border-bottom: #b2b2b2 solid 5px;
    border-left: #ffffff solid 5px;
    padding: 30/@rem 30/@rem 20/@rem 1rem;
    margin-bottom: 32/@rem;
    background: #ffffff;
    overflow: hidden;
    em{
      width: 82/@rem;
      height: 82/@rem;
      line-height: 82/@rem;
      font-size: 30/@rem;
      color:#ffffff;
      text-align: center;
      margin-right: 30/@rem;
      background: url(/images/zwr_ico.png) no-repeat -98/@rem -9/@rem;
      background-size: 18.75rem;
    }
    em,div{
      float: left;
    }
    div{
      line-height: 1rem;
      span{
        font-size: 28/@rem;
        color:#2587f6;
      }
    }
    b{
      float: right;
      width: 64/@rem;
      height: 64/@rem;
      margin-top:14/@rem;
      background: url(/images/zwr_ico.png) no-repeat -349/@rem -8/@rem;
      background-size: 18.75rem;
    }
  }
  li.active{
    border-left: #2889f6 solid 5px;
    b{
      background: url(/images/zwr_ico.png) no-repeat -277/@rem -9/@rem;
      background-size: 18.75rem;
    }
  }
  li.sked_list1{
    em{
      background: url(/images/zwr_ico.png) no-repeat -98/@rem -9/@rem;
      background-size: 18.75rem;
    }
  }
  li.sked_list2{
    em{
      background: url(/images/zwr_ico.png) no-repeat -187/@rem -9/@rem;
      background-size: 18.75rem;
    }
    span{
      color:#fe901f;
    }
  }
  li.sked_list3{
    em{
      background: url(/images/zwr_ico.png) no-repeat -9/@rem -9/@rem;
      background-size: 18.75rem;
    }
    span{
      color:#ff714d;
    }
  }
}
.add_travel{
  position: fixed;
  bottom: -3px;
  right: 0.75rem;
  padding: 10/@rem 30/@rem;
  color:#ffffff;
  font-size: 24/@rem;
  background: #2889f6;
  border-radius: 6px 6px 0 0;
  box-shadow: 0px 0px 3px rgba(0,0,0,.5);
}
/*====================�༭�ճ� editStroke.html===========================*/
.editStroke{
  padding: 135/@rem 30/@rem 0;
}
.edit_con{
  margin-top:24/@rem;
  font-size: 0.9rem;
  li{
    padding: 30/@rem 35/@rem;
    border-bottom:#dedfe0 solid 1px;
  }
  li:first-child{
    color:#444444;
    span{
      color:#2587f6;
      margin-right:48/@rem;
    }
  }
  li:nth-child(2){
    strong{
      color:#2587f6;
    }
  }
  li:nth-child(3){
    textarea{
      width: 100%;
      height: 155/@rem;
      font-size: 0.9rem;
      color:#8e8e8e;
      background: none;
    }
  }
  li:last-child{
    font-size: 30/@rem;
    dd,dt{
      width: 20%;
      float: left;
      text-align: center;
      margin: 15/@rem 0;
    }
    em{
      display: inline-block;
      width: 74/@rem;
      height: 74/@rem;
      line-height: 30/@rem;
      color:#2587f6;
      font-size: 24/@rem;
      background: #ffffff;
      border:#75b5fe solid 3px;
      border-radius: 50%;
      position: relative;
      b{
        position: absolute;
        top:50%;
        left: 50%;
        width: 1.5rem;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
      }
    }
    em.active{
      color:#ffffff;
      background: #2587f6;
    }
    dt b{
      font-size: 72/@rem;
      line-height: 60/@rem;
      position: static;
    }
  }
}
.cover{
  position: fixed;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.3);
  z-index: 999;
  display:none;
}
.add_event{
  width:92%;
  height: 210/@rem;
  position: absolute;
  top:50%;
  left: 4%;
  margin-top:-4.5rem;
  padding: 30/@rem;
  border-radius: 4px;
  background: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
  z-index: 1000;
  display: none;
  span{
    color:#2a8bf6;
    float: right;
    font-size: 30/@rem;
  }
  input{
    display:block;
    width: 65%;
    margin: 0 auto;
    margin-top: 50/@rem;
    padding-bottom: 18/@rem;
    color: #8e8e8e;
    font-size: 0.9rem;
    text-align: center;
    border-bottom:#2a8bf6 solid 1px;
  }
}






/*============================�����г�����ҳ detail.html=================================*/
.head_market_detail{
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(0,0,0,.2);
  -webkit-box-shadow: 0px 1px 5px rgba(0,0,0,.2);
  margin-bottom: 16/@rem;
  overflow: hidden;
  h1{
    font-size: 0.8rem;
    color:#000000;
    margin: 30/@rem 0 24/@rem 30/@rem;
  }
  p{
    margin:0 0 1rem 30/@rem;
    color:#686868;
  }
}
.market_detail_list{
  >li{
    background: #ffffff;
    box-shadow: 0px 1px 5px rgba(0,0,0,.2);
    -webkit-box-shadow: 0px 1px 5px rgba(0,0,0,.2);
    margin-bottom: 16/@rem;
  }
}
.market_detail_tit{
  border-top:#f2f2f2 solid 1px;
  padding: 10/@rem 0;
  h2{
    padding-left: 30/@rem;
    border-left: #2889f6 solid 9/@rem;
    color:#2889f6;
    font-size: 32/@rem;
  }
}
.market_detail_con{
  overflow:hidden;
  padding: 30/@rem;
  border-top:#dedfe0 solid 1px;
  line-height: 1rem;
  h3{
    color:#2889f6;
  }
  p{
    color:#000000;
    margin-bottom: 0.5rem;
  }
  ol{
    font-size: 0.6rem;
    margin-bottom: 0.5rem;
  }
}
.professor_suggest{
  background: url(/images/haiwaijiaoshou_bg.png) no-repeat center bottom;
  background-size: 100%;
  .professor_suggest_con{
    width: 100%;
    text-align: center;
    padding: 50/@rem 70/@rem 60/@rem;
    .professor_head{
      width: 330/@rem;
      height: 330/@rem;
      margin: 0 auto 1rem;
      border-radius: 50%;
      box-shadow: 1px 1px 5px rgba(0,0,0,.2);
      -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,.2);
      overflow: hidden;
    }
    strong{
      display: inline-block;
      color:#000000;
      font-size: 36/@rem;
      margin-bottom: 25/@rem;
    }
    span{
      display: inline-block;
      margin-bottom: 36/@rem;
      colo:#444444;
    }
    p{
      text-align: left;
      color:#686868;
    }
    a{
      display: block;
      width: 4rem;
      height: 1rem;
      margin: 1rem auto 0;
      line-height: 1rem;
      color:#3c8bec;
      border:#3c8bec solid 1px;
      border-radius: 5px;
    }
  }
}
.professor_info{
  color:#8e8e8e;
  em{
    display: inline-block;
    width: 28/@rem;
    height: 28/@rem;
    vertical-align: middle;
    margin-right: 14/@rem;
  }
  .professor_time{
    background: url(/images/my_money_ico.png) no-repeat -183/@rem -116/@rem;
    background-size: 18.75rem;
  }
  .professor_address{
    background: url(/images/my_money_ico.png) no-repeat -229/@rem -116/@rem;
    background-size: 18.75rem;
  }
}
.professor_enrollBuy{
  color:#8e8e8e;
  p{
    color:#8e8e8e;
  }
  strong{
    color:#ff2525;
    display: inline-block;
    margin-top:0.2rem;
    font-size: 48/@rem;
    em{
      font-size: 36/@rem;
    }
  }
  .purchase_quantity{
    font-size: 32/@rem;
    text-align: center;
    button,.purchase_num{
      display: inline-block;
      font-size: 32/@rem;
      width: 2rem;
      height: 1.5rem;
      line-height: 1.5rem;
      border-radius: 3px;
      background:#dcdcdc
    }
    .btn_subtract{
      background:#f2f2f2;
      margin-left:4px;
    }
    .purchase_num{
      width: 2.5rem;
      margin:0 4px;
    }
  }
}
.registration_purchase{
  margin:0.5rem 0;
  li{
    float: left;
    width: 50%;
    height: 86/@rem;
    line-height: 86/@rem;
    font-size: 36/@rem;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  li:first-child{
    color:#fe901f;
    border:#fe901f solid 1px;
    border-radius: 5px 0 0 5px;
  }
  li:last-child{
    border:#8e8e8e solid 1px;
    border-radius: 0 5px 5px 0;
  }
}
.professor_comment_collection{
  dd{
    float: left;
    margin-left: 44/@rem;
    em{
      display: inline-block;
      width: 34/@rem;
      height: 34/@rem;
      vertical-align: top;
      margin-right: 0.25rem;
    }
  }
  .professor_comment{
    em{
      background: url(/images/my_money_ico.png) no-repeat -274/@rem -116/@rem;
      background-size: 18.75rem;
    }
  }
  .professor_collection{
    em{
      background: url(/images/my_money_ico.png) no-repeat -324/@rem -113/@rem;
      background-size: 18.75rem;
    }
    .click-like{
      background: url(/images/books-ico.png) no-repeat -5.025rem -3.375rem;
      background-size: 18.75rem auto;
    }
  }
}
.visit_mechanism{
   li{
     width: 50%;
     float: left;
     margin-bottom: 1rem;
     text-align: center;
     color:#000000;
     box-sizing: border-box;
     -webkit-box-sizing: border-box;
     div{
       width: 86%;
       margin: 0 auto 0.5rem;
     }
   }
 }